



img {
    display: inline-block;
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.column{
  flex:0 0 calc(33.33%-30px);
  padding: 5px;
}







/*--------------------------------------------------*/








 #shop{
    background-repeat: repeat-x;    
    height:121px;
    width: 984px;
    margin-left: 20px;
    margin-top: 13px;
}


#shop .card{    

    line-height: 20px;
    margin-top: 0px;
    margin-left: 9px;
    margin-right:0px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:white;
    transition: 0.3s;
    width:200px;

    display:inline-block;
    position:relative;
}

#shop .card:hover{
    opacity: .5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width:200px;
}

#shop .card .btn {
    display: none;

    position: absolute;
    bottom:200px;
    right:20px;
    left:10px;

    width: 150px;
    height:50px;
    
    background:green;
    color:white;
}


/*#shop .card .btn:focus{
    background:red;
    color:white;
}*/


#shop .card .container {
    padding: 2px 16px;
}


#shop .card img:hover + .btn { 
    display: inline-block; 
}


/*#shop .card .circle {
    position: absolute;
    top: -21px;
    left: -21px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: red;
    color: white;
    font-size: 13px;
    text-align: center;
    
  }*/
  .circle {
    position: absolute;
    top: -21px;
    left: -21px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: red;
    color: white;
    font-size: 13px;
    text-align: center;
    
  }
 .active{
    opacity: .5;
    background-color: #666;
    color:black;

    
}